aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
bandit
beautifulsoup4
black
bleach
blinker
bottle
bottle-websocket
bs4
bcrypt
PyJWT
sentry_sdk
certifi
cffi
charset-normalizer
click
colorama
comtypes
cryptography
dnslib
dnspython
Eel
email-validator
exceptiongroup
fastapi
filelock
Flask
flask-cors
frozenlist
fsspec
futures
geoip2
gevent
gevent-websocket
googletrans
greenlet
gunicorn
h11
h2
hf-xet
hpack
html5lib
httpcore
httpx
huggingface-hub
hyperframe
idna
importlib_metadata
importlib_resources
iniconfig
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
langdetect
markdown-it-py
MarkupSafe
maxminddb
mdurl
mpmath
multidict
mypy_extensions
networkx
numpy
outcome
packaging
pandas
pathspec
pillow
platformdirs
pluggy
propcache
psutil
PyAudio
pycparser
pydantic
pydantic_core
Pygments
pyparsing
pypiwin32
PySocks
pytesseract
pytest
python-dateutil
python-dotenv
pytokens
pyttsx3
pytz
pywin32
PyYAML
referencing
regex
requests
rich
rpds-py
safetensors
selenium
six
sniffio
sortedcontainers
soupsieve
SpeechRecognition
speedtest
SQLAlchemy
starlette
stevedore
structlog
sympy
tokenizers
tomli
torch
tqdm
transformers
trio
trio-websocket
typing-inspection
typing_extensions
tzdata
urllib3
waitress
watchdog
webencodings
websocket-client
websockets
Werkzeug
WMI
wsproto
yarl
zipp
zope.event
zope.interface